*{
    margin: auto;
    padding: 0%;
}
*::before,
*::after {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Jost", sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-image:url("./test-images/bg.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.music {    
    width: 35rem;
    height: 50rem;
    background-color: #044d69;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
    padding: 3rem;
    text-align: center;
}

.music #track-name {
     font-family: 'Redressed', cursive;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: #ebe3e1;
    margin: 2rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.music #artist{
    font-family: 'Akaya Telivigala', cursive;
    color: #cccaca;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 300;
}

input[type="range"]{
    cursor:pointer;
    width:1em;
    height:15em;
    margin-top: 1em;
    -webkit-appearance: slider-vertical;
     vertical-align: bottom;
    float: left;
   
}
.image {
    width: 25rem;
    height: 25rem;
    margin: auto;
}

.controls .fas:hover {
color: gray;
}

img {
    width: 100%;
    height: 100%;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0, 0.4);
    object-fit: cover;
    border-radius: 50%;
}

.controls {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 0rem;
    align-items: center;
}

.controls .fas{
    color: #111111;
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4));
}

.controls .main-button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #111;
    color: #f6f6f6;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls .fa-play:hover {
    background-color: #f6f6f5;
    color: #111;
    box-shadow: 0 1rem 2rem 0.2rem rgba(0,0,0,0,0.4);
}

.anime {
    animation-name: rotatePlayer;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotatePlayer {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.progressbar_container {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    margin: 1rem;
}

.progress_div {
    width: 100%;
    height: 0.5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,007),0 16px 32px rgba(0,0,0, 0.07), 0 32px 64px rgba(0,0,0,0.07);
    border-radius: 4rem;
    position: relative;
    margin-top: 0.5rem;
    transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
.progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(236, 227, 227);
    border-radius: 4rem; 
    transition: width 0.1s linear;
    -moz-transition: width 1s linear;
    -o-transition: width 1s linear;
    -webkit-transition: width 1s linear;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.progress_duration_meter{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

#duration {
    color: rgb(236, 227, 227);
}

#current_time {
<<<<<<< HEAD
    color:rgb(236, 227, 227);
}

.text-block {
    align-content: center;
    color: white;
    margin-top: 5%;
    position: absolute;
    margin-left: 10%;
    width: 35rem;
    height: 5%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 7);
    display: flex;
  }
=======
    color: rgb(236, 227, 227);
}
>>>>>>> 3fc4a28cc0d715b017a7f4c597b2b8af3bc9b8cd
